.lumina-neon-stanga {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0px;
    -webkit-box-shadow:0px 0px 105px 45px rgba(255,0,221,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(255,0,221,0.9);
    box-shadow: 0px 0px 105px 45px rgba(255,0,221,0.9);
    z-index: 0;
}

.lumina-neon-dreapta {
    position: fixed;
    right: 0;
    height: 100%;
    width: 0px;
    -webkit-box-shadow:0px 0px 105px 45px rgba(34,141,255,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(34,141,255,0.9);
box-shadow: 0px 0px 105px 45px rgba(34,141,255,0.9);
z-index: 0;
}
.sectiunea1-md {

display: flex;
justify-content: flex-start;
align-items: center;
height: 100vh;
width: 100%;
background-color: black;
z-index: 9999;
overflow: hidden;
}
.container-text-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.container-text-header .container-gol {
    width: 350px;
    height: 200px;
}
.s1-md-bk {
    height: 100vh;
    width: 98.8vw;
    background-image: url(./assets/imagini/Header/Media_Digitala_Brasov\ \(6\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
    

}
.buton1 {
    position: relative;
    background-image: url(./assets/imagini/buton1.svg);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.buton1:hover {
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}

.sectiunea2-md {
    min-height: 100vh;
    width: 100%;
    padding: 20px 0px;
    background-color: black;   
    display: flex;
    align-items: center;
    justify-content: center;
    

}   
    /*ce vei studia*/
    .sectiunea3-md {
        min-height: 100vh;
        width: 100%;
        background-color: black;
        padding: 20px 0px;
        background-image: url(./assets/imagini/imaginiprimapagina/media\ digitală.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Blog - start*/
    .container-articole-blog {
      max-width: 1200px;
      padding: 20px 20px;
      z-index: 1;
      display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 15px 10px;
    height: fit-content;
    margin: 0 5px;
    
      
      }
      .container-efect-sticla h2 {
          text-align: center;
      }
      .titlu-pagina-blog {
        width: 100%;
        text-align: center;
      }
      .container-articole-blog {
        width: 100%;
        gap: 20px;



      }
      .rand-articole-blog {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
      }
      .coloana-articole-blog {
        position: relative;
        width: 300px;
        min-height: 350px;
        background-color: rgba(0, 0, 0, 0.562);
        border-radius: 15px;
      }
      .imagini-articole-blog {
        width: 300px !important;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        
      }
      .data-articol-blog {
        position: absolute;
        top: 173px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.719);
        width: fit-content;
        padding: 5px 2px 2px 5px;
        border-radius: 15px 0px 0px 0px;
      }
      .descriere-articol-blog {
        padding: 10px;
      }
      .h4-articol-blog {
        font-size: 0.75rem !important;
        background-color: white;
        color: black;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 15px;
      }
      .h3-articol-blog {
        font-size: 1.4rem;
      }
      .buton-citeste-blog {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
            border-radius: 15px;
            display: flex;
            float: right;
            margin-bottom: 5px;
            
        
        

      }
      .buton-citeste-blog:hover {
        box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem rgba(255,0,221,0.9),
            0 0 0.4rem rgba(255,0,221,0.9),
            0 0 1.6rem rgba(255,0,221,0.9),
            inset 0 0 0.7rem rgba(255,0,221,0.9); 
            padding: 5px 10px;
            border-radius: 15px;
            color: white;
            transition: 0.5s;
      }
    /*Blog - end*/