

.lumina-neon-stanga {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0px;
    -webkit-box-shadow:0px 0px 105px 45px rgba(255,0,221,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(255,0,221,0.9);
    box-shadow: 0px 0px 105px 45px rgba(255,0,221,0.9);
    z-index: 0;
}

.lumina-neon-dreapta {
    position: fixed;
    right: 0;
    height: 100%;
    width: 0px;
    -webkit-box-shadow:0px 0px 105px 45px rgba(34,141,255,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(34,141,255,0.9);
box-shadow: 0px 0px 105px 45px rgba(34,141,255,0.9);
z-index: 0;
}
.sectiunea1-md {

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
background-color: black;
z-index: 9999;
overflow: hidden;
}
.s1-md-bk {
    height: 100vh;
    width: 98.8vw;
    background-image: url(../assets/imagini/Header/Media_Digitala_Brasov\ \(1\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
    

}
.buton1 {
    position: relative;
    background-image: url(../assets/imagini/buton1.svg);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.buton1:hover {
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}

.sectiunea2-md {
    min-height: 100vh;
    width: 100%;
    padding: 20px 0px;
    background-color: black;   
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.flex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.container-efect-sticla {
max-width: 700px;
padding: 20px 20px;
text-align: justify;
z-index: 1;

}
.container-efect-sticla h2 {
    text-align: center;
}

/*ce vei studia*/
.sectiunea3-md {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 20px 0px;
    background-image: url(../assets/imagini/imaginiprimapagina/media\ digitală.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.md-rand1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 15px 10px;
height: fit-content;
margin: 0 5px;
}
.md-coloane-anul1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width:700px ;
    color: white;
}
.md-rand1-cu-spatiu {
    margin-top: 20px;
}
.md-coloana1 {
    width: 340px;
}
.md-coloana2 {
    width: 340px;
}
/*cvs end*/

/*ce messerie vei avea - start*/
.sectiunea4-md {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/imagini/imaginiprimapagina/media\ digitală-joburi.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.rand1-sectiunea4-md {
    max-width:700px;
    height: fit-content;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
.subrand1-sectiunea4-md {
    max-width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    

}
.coloana1-sectiunea4-md {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    
}
.img-meserii {
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin: 10px 20px;
}
.subcoloana2-sectiunea4-md img {

  box-shadow: 0px 0px 10px -2px rgb(255, 255, 255);
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */

}
.rand1-sectiunea4-md .spatiu {
    top: 20px;
}
.subcoloana1-sectiunea4-md p {
    text-align: justify ;
}
.coloana1-sectiunea4-md-invers {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse !important;
}
.subcoloana1-sectiunea4-md-invers {
    text-align: right;
}
.subcoloana1-sectiunea4-md-invers p {
    text-align: justify;
}
.container-salariu p {
    text-align: center;
}

/*ce meserie vei avea - end*/

/*recenzie -start*/
.sectiunea5-md {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/imagini/imaginiprimapagina/recenzii.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container-general-flex {
    max-width:900px;
    height: fit-content ;
    display: flex;
    flex-direction: column;    
    padding: 10px;

}
.container-general-flex h2 {
    text-align: center;
}

.container-general-flex h2 {
    padding: 10px 0;
}
.container-recenzii {
    display: flex;
    flex-direction: row;
}
@media (max-width:860px) {
    .container-recenzii {
        flex-direction: column;
        align-items: center;
    }
}
.crecenzii-coloana {
    width: 300px;
    min-height: 300px ;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 10px 5px;
position: relative;
}

.img-recenzii {
    width: 100px;
    height: auto;
}
.p-recenzii {
    text-align: center;
    padding: 10px 20px;
}
.p-recenzii-nume {
    text-align: center;
    color: black;
    font-weight: bold;
}
/*recenzie - end*/

/*motive - start*/
.sectiunea6-md {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/imagini/motive/motive.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

}

.cmotive-rand {
    top: 10px;
    text-align: right;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-height: 150px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.cmotive-rand p {
    padding: 0px 10px;
}
.img-motive {
position: absolute;
right: -80px;
top: 25%;
width: 80px;
z-index: -99999;
}

.container-motive div{
    margin: 10px 0px;
} 
.buton2 {
    position: relative;
    background-image: url(../assets/imagini/motive/buton/inscrietelamediadigitala.png);
    width: 250px;
    height: 140px;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-repeat: no-repeat;
}

.buton2:hover {
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}
.container-buton-inscriere {
    width: 100%;

    height: fit-content;
    display: flex;
    justify-content: center;
}

/*motive - end*/